body {
    background-color: rgb(145, 186, 204);
    height: 100vh;
}

#header {
    justify-content: start;
}

.navbar {
    background-color: white;
    margin-bottom:1em;
}

.container {
    max-width: 800px;
}

input {
    border-radius: 2cm;
    background-color: rgb(145, 186, 204);
}
.bi-house-heart-fill {
    color: black;
    font-size: 23px;
    margin-right:0.5em;
    margin-bottom:0
}
footer {
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration:none;
    color: black;
}

#Content2 {
    height: 100%;
}



